@page
@using Autokool.Pages.Common.Extensions;
@model Autokool.Pages.Autokool.Admin.UserRolesAdminPage

@{
    Layout = "_Layout";
    var page = Model.PageUrl;
}
<h2>Manage Roles</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.Show(m => m.Item.FirstName)</th>
            <th>@Html.Show(m => m.Item.LastName)</th>
            <th>@Html.Show(m => m.Item.Email)</th>
            <th>@Html.Show(m => m.Item.Roles)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.usersDataList)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Manage" asp-route-userId="@user.UserId" asp-page-handler="Manage">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>