@using Autokool.Pages.Common.Extensions;
@model Autokool.Pages.Autokool.Admin.TeachersAdminPage

<body>
    @Html.Editor(m => m.Item.ID)
    @Html.Editor(m => m.Item.FirstName)
    @Html.Editor(m => m.Item.LastName)
    @Html.Editor(m => m.Item.Email)
    @Html.Editor(m => m.Item.PhoneNr)
    @Html.Editor(m => m.Item.ValidFrom)
    @Html.Editor(m => m.Item.ValidTo)
</body>
