@using Autokool.Pages.Common.Extensions;
@model Autokool.Pages.Autokool.Admin.TeachersAdminPage

<body>
    @Html.Show(m => m.Item.ID)
    @Html.Show(m => m.Item.FullName)
    @Html.Show(m => m.Item.Email)
    @Html.Show(m => m.Item.PhoneNr)
    @Html.Show(m => m.Item.ValidFrom)
    @Html.Show(m => m.Item.ValidTo)
</body>
