@using Autokool.Pages.Common.Extensions;
@model Autokool.Pages.Autokool.CoursesPage

<body>
    @Html.Show(m => m.Item.ID)
    @Html.Show(m => m.Item.Name)
    @Html.Show(m => m.Item.CourseTypeID, Model.CourseTypeName(Model.Item.CourseTypeID))
    @Html.Show(m => m.Item.Location)
    @Html.Show(m => m.Item.ValidFrom)
    @Html.Show(m => m.Item.ValidTo)
</body>
